.header__lang-link {
  font: normal 400 24px/1.15 "Inter";
  color: #ffffff;
  margin-right: 0;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
    color: #ffffff;
  }
}
