.place__url-link {
  margin: 0;
  font: normal 400 18px/1.2 "Inter", Arial, Helvetica, sans-serif;
  text-decoration-line: underline;
  color: #ffffff;
  transition: 0.3s linear;
}

.place__url-link:hover {
  opacity: 0.8;
}
