.photo-grid__container {
  list-style: none;
  padding-left: 0;
  max-width: 1184px;
  margin: auto;
  margin-top: 92px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
}

@media screen and (max-width: 1279px) {
  .photo-grid__container {
    max-width: 928px;
    gap: 14px;
    margin-top: 88px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__container {
    max-width: 720px;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__container {
    max-width: 288px;
    gap: 12px;
    margin-top: 64px;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  }
}
