.cover__title {
  margin: 0;
  max-width: 560px;
  font: normal 900 72px/1.06 "Inter", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 240px;
  }
}
